# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build outputs
bin/
build/

# Go modules
go.sum
go.work

# Dependency directories (vendor is used with `go mod vendor`)
vendor/

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store

# SQLite databases (if generated during dev)
database/data/*.db

# Gin file watcher build artifacts
gin-bin

# Docker-specific files with sensitive info
docker-compose.override.yml

# Media folders
playlists/
segments/

# Env File
.env
